#block-endomondo-endomondo-user-stats {
	border: 2px solid #E5EdAC;
	padding: 10px;
	clear: both;
}

.stats {
	font-weight: bold;
}

.stats .stat-title {
	display: inline-block;
	text-align: left;
}

.stats .stat-value {
	float: right;
}

#block-endomondo-endomondo-stats .stats {
	font-weight: normal;
}

#block-endomondo-endomondo-stats .stats .stat-value {
	float: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #82BC00;	
}

#block-endomondo-endomondo-stats .stats .stat-value a {
	font-weight: bold;
}